{% extends "base.html" %}
{% block body %}
<div class="title">
<h2>{{the_title}}</h2>
</div>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="entry">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="sum_info">Summary of Projects</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search Porject" aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
          <br>
          <p>Please Use This Website To Input Your Experimental Results:</p>
    <form method="POST" action="/input_data" id="data_input">
    <table class="table table-striped table-hover">
        <tr>
            <th scope="row">Project Code:</th>
            <td>
                    <select name="projects" form="data_input">
                            <option value="001-AAA">001-AAA</option>
                            <option value="002-AAB">002-AAB</option>
                            <option value="003-AAC">003-AAC</option>
                            <option value="004-AAD">004-AAD</option>
                    </select>
            </td>
        </tr>   
        <tr>
            <th scope="row">Temperature:</th>
            <td><input type="text" name="temperature"></td>
        </tr>
        <tr>
            <th scope="row">Agitation Rate:</th>
            <td><input type="text" name="rate"></td>
        </tr>
        <tr>
            <th scope="row">Reaction Time:</th>
            <td><input type="text" name="reaction_time"></td>
        </tr>
        <tr>
            <th scope="row">Solvent:</th>
            <td>
                <select name="solvents" form="data_input">
                    <option value="MeCN">MeCN</option>
                    <option value="Acetone">Acetone</option>
                    <option value="THF">THF</option>
                    <option value="DCM">DCM</option>
                </select>
        </tr>
        <tr>
            <th scope="row">Purity:</th>
            <td><input type="text" name="purity"></td>
        </tr>
        <tr>
            <th scope="row">Yield:</th>
            <td><input type="text" name="yield"></td>
        </tr>
    </table>
    <p>When you're ready, click <em>submit</em> button or <em>reset y</em>our input:</p>
    <p><input value='Submit' type='submit'>
    <input value="Reset" type="reset"></p>
</form>
<form method="POST" action="/project" id="project_select">
    <p>Choose the Project you want to see results:
        <select name="sum_projects" form="project_select">
            <option value="001-AAA">001-AAA</option>
            <option value="002-AAB">002-AAB</option>
            <option value="003-AAC">003-AAC</option>
            <option value="004-AAD">004-AAD</option>
        </select>
        <input value='Submit' type='submit'>
    </p>
</form>
<br>
<p>If you want to add more parameters, please contact Admin:</p>
{% endblock %}